node_modules
.umi
.idea
.vscode
.pre_check_time
*.log
*/umitest/pages/.umi/
**/config/*.pem
**/public/export/*
**/public/postman/*
**/public/sdks/*
**/public/uploads/*
**/public/docs/files/*
**/public/docs/_sidebar.md
**/public/*/*version.json
docs
migrate
production.json
